

body {
    /*margin: 0px;*/
    /*padding: 50px;*/
    background-color: #2E000E;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Courier New", sans-serif;

}
#box {
    /*width: 100%;*/
    margin: 6% 10% 10% 10%;
    background-color: #B90138;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 48px;
    box-shadow: 5px 5px 15px  #170007;
    flex-wrap: wrap;
}
h1 {
    text-align: center;
   max-width: 80%;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 48px;
}
#image {
    width: 80%;
    border-radius: 24px;
    margin-bottom: 40px;
    border: 3px solid #170007;
}
#form {
    display: flex;
    justify-content: center;
}


#input, #button {
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 24px;
    /*align-self: stretch;*/
    border: 3px solid #5C011C;
    border-radius: 3px;
    /*margin-top: 0px;*/
    font-family: monospace;
    /*letter-spacing: 3px;*/
}
#input{
    background-color: lightpink;

}
#button {
    margin-left: 20px;
    background-color: #450015;
    font-weight: bold;

    color: lightpink;

}
#button:visited {
    color: #740123;
    border: 3px solid #5C011C;
}
#infoblock {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #740123;
    width:55%;
    border: 3px solid #B90138;
    border-radius: 32px;
    box-shadow: 5px 5px 20px #740123;
    color: lightpink;

}
#part1 {
    display: flex;
    border-bottom: 3px solid #450015;
    margin-top: 10px;
    padding-bottom: 20px;
    align-items: flex-end;
    padding-left: 10px;
}
#part2 {
    margin-top: 20px;
    padding: 10px;
}

.flagImage {
    width: 60px;
    height: 40px;
    border: solid 3px lightpink;
}
#country {
    margin-left: 20px;
    font-weight: bolder;
    font-size: 42px;
    color: #CB416A;
}
#geo, #cap {
    margin-bottom: 16px;
}